@import "tailwindcss";

@theme {
  /* Custom Colors - Tailwind v4 syntax */
  --color-background: #F7F7F7;
  --color-grey: #181818;
  --color-grey-light: #717171;
  --color-badge: #D1FFFB;
  --color-badge-border: #47FFEE;
  --color-primary: #003631;
  --color-primary-faded: #008F82;
  --color-primary-light: #003631;
  --color-card:#EDEDED;
  --color-card-border:#D7D7D7;

  /* Custom Font Family */
  --font-family-satoshi: 'Satoshi', sans-serif;

  /* Custom Font Sizes */
  --text-bold-caption: 52px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind font utility for Satoshi */
.font-satoshi {
  font-family: 'Satoshi', Arial, Helvetica, sans-serif;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', Arial, Helvetica, sans-serif;
}